---
import Aside from "../components/Aside.astro";
import ImageDisplay from "../components/ImageDisplay.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to GetColor.">
	<main class="flex-1 flex gap-4 pb-5 w-full mx-auto max-w-[98%]">
		<Aside />
		<ImageDisplay />
	</main>
</Layout>
