---
import Logo from "../assets/Logo.astro";
---

<header
  class="flex w-full gap-2 items-center justify-center p-4 text-[#f5f5f5]"
>
  <Logo size="36" />
  <h1 class="text-current text-3xl w-max font-bold">Get Color</h1>
</header>
